version: "3.9"

services:
  system-design:
    image: system-design
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - db

  nginx:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - system-design

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: charantm
      POSTGRES_PASSWORD: charantm7
      POSTGRES_DB: SD_PRACTICE_LAB

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
