version: "3.9"

services:
  system-design:
    image: system-design
    expose:
      - "8000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: uvicorn core_service.app:app --reload --host 0.0.0.0 --port 8000 --limit-concurrency 100
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - system-design

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: charantm
      POSTGRES_PASSWORD: charantm7
      POSTGRES_DB: SD_PRACTICE_LAB

    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - /path/to/redis-persistence:/bitnami/redis/data

volumes:
  pgdata:
